*.o
*.hi
*.chi
*.chs.h
.stack-work/

*.DS_Store
*.ptb
*.out
*.aux
*.log
*.pdf
*.fdb_latexmk
*.fls
doc/formal/**/appendix.tex
doc/**/expcore.ott.tex
doc/**/otthelper.tex
doc/**/auto

*.swp

/src/src_bk/*

*.vo
*.glob
doc/simple/coq/.depend

*.bbl
*.blg

*.toc
*.nav
*.dvi
*.snm
*.gz
*.vrb