dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
.hdevtools.sock
/src/Parser.info
/demo.org
.stack-work/

*.DS_Store
.texpadtmp/
*.ptb

*.out
*.aux
*.log
*.pdf
doc/**/appendix.tex
doc/**/expcore.ott.tex
doc/**/otthelper.tex
/src/Parser.hs
/src/Tokens.hs

*.swp

*.pdf
